---
import DefaultBody from '../layouts/DefaultBody.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import ColorChanger from '../components/ColorChanger.astro';
import AlbumHero from '../components/AlbumHero.astro';
---

<DefaultBody title="Carbon Currency" description="Rap Duo from Tacoma, WA consisting of Preston Clavesilla & Miles" keywords="Inferno, BxPP, AT Products LLC" author="Black Carbon & Millibands">

<div id="page">
	<Navbar />
	<div id="main-content">
    <AlbumHero 
      title="GOLD HEARTZ NEVA RUST" 
      description="<div class='h2 fw-bold text-warning'>OUT NOW!</div>"
      icons={[
        { icon: "youtube", text: "YouTube Music", href: "https://music.youtube.com/playlist?list=OLAK5uy_kd2YNtuHfKRfpXRlpkwn1kuvfMHWcT7ZA" },
        { icon: "spotify", text: "Spotify", href: "https://open.spotify.com/album/5nrXPtZ6yltHZzCfiklOtB" },
        { icon: "apple", text: "Apple Music", href: "https://music.apple.com/us/album/gold-heartz-neva-rust-ep/1808224765" },
        { icon: "cloud-fill", text: "SoundCloud", href: "https://soundcloud.com/user-705361503/sets/gold-heartz-neva-rust" },
        { icon: "music-note", text: "BandLab", href: "https://www.bandlab.com/black__carbon/albums/7f308740-2613-f011-aaa7-000d3a930a05" },
      ]}    
      image={[
        { src: "album.webp", alt: "Album Cover" },
      ]}  
    />
	  <main id="index" class="container">
      <div class="text-center p-3">
        <i class="fs-1 bi bi-cone-striped" style="font-size: 10rem !important;"></i>
        <p class="display-4"> This section is under development. </p>
      </div>
		</main>
	</div>
  <div id="fixelements">
    <ColorChanger />
    <BackToTop />
  </div>
</div>
</DefaultBody>
