---
import DefaultBody from '../layouts/DefaultBody.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import AlbumHero from '../components/AlbumHero.astro';
---

<DefaultBody title="Carbon Currency" description="Rap Duo from Tacoma, WA consisting of Preston Clavesilla & Miles" keywords="Inferno, BxPP, AT Products LLC" author="Black Carbon & Millibands">

<div id="page">
	<Navbar />
	<div id="main-content">
    <AlbumHero 
      title="GOLD HEARTZ NEVA RUST" 
      description="<div class='h2 fw-bold text-warning'>OUT NOW!</div>"
      icons={[
        { icon: "youtube", text: "YouTube Music", href: "https://music.youtube.com/playlist?list=OLAK5uy_kd2YNtuHfKRfpXRlpkwn1kuvfMHWcT7ZA" },
        { icon: "spotify", text: "Spotify", href: "https://open.spotify.com/album/5nrXPtZ6yltHZzCfiklOtB" },
        { icon: "cloud-fill", text: "SoundCloud", href: "https://open.spotify.com/album/5nrXPtZ6yltHZzCfiklOtB" },
        { icon: "music-note", text: "BandLab", href: "https://www.bandlab.com/black__carbon/albums/7f308740-2613-f011-aaa7-000d3a930a05" },
      ]}    
      image={[
        { src: "album.webp", alt: "Album Cover" },
      ]}  
    />
	  <main id="bxpp" class="container">
			<div id="general-info">
				<h2> General Information </h2>
				<p> BxPP, made by Pynx, is a custom Python programming language. </p>
				<br>
				<p>
					<b>Version:</b> 3.0 <br>
					<b>Platforms:</b> Linux & Windows
	      </p>
			</div>
			<hr>
			<div id="install">
				<h2> Installation </h2>
				<p>
					<code> sudo python3 setup.py</code>
					<br> OR <br>
					<code>run setup.exe </code>
				</p>
			</div>
			<hr>
			<div id="downloads">
				<h2>Downloads</h2>
				<div class="d-grid d-sm-flex gap-2">
	        <a class="btn btn-primary" href="/bxpp/setup.py" download>Setup File (Python)</a> 
	        <a class="btn btn-primary" href="/bxpp/BxPP.py" download>Main File (Python)</a> 
	        <a class="btn btn-primary" href="https://github.com/Discordmodsbers/BxPP/archive/refs/heads/main.zip" download>ZIP Download (Linux &amp; Windows)</a> 
	      </div>
			</div>
		</main>
		<Footer author="Alex Toucan & Pynx" />
	</div>
	<BackToTop />
</div>
</DefaultBody>
