---

---

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-body-secondary justify-content-start">© 2025 Carbon Currency</p>

    <p class="col-md-4 mb-0 text-body-secondary justify-content-end">Developed by <a href="https://atproducts.xyz">AT Products LLC</a></p>
  </footer>
</div>
