---

---

<a href="#main-content" class="visually-hidden-focusable btn btn-primary position-fixed m-2 hero-filter" style="z-index: 2000;">Skip to main content</a>

<header class="main-navbar py-3 fixed-top">
  <div class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
    <div class="col-md-3 text-start">
      <a class="navbar-brand navbar-brand fw-bolder fs-4" href="/">
        Carbon Currency
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 gap-4">
      <li><a href="#" class="nav-link p-0 rounded-2">Home</a></li>
      <li><a href="#" class="nav-link p-0 rounded-2">Features</a></li>
      <li><a href="#" class="nav-link p-0 rounded-2">Pricing</a></li>
      <li><a href="#" class="nav-link p-0 rounded-2">FAQs</a></li>
      <li><a href="#" class="nav-link p-0 rounded-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <div class="d-flex gap-3">
        <a class="link-footer" href="/media/images/youtube-music-song-multimedia-audio-svgrepo-com.svg" aria-label="YouTube Music">
          <svg class="fs-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <use xlink:href="/media/images/youtube-music-song-multimedia-audio-svgrepo-com.svg#icon-id"></use>
          </svg>
        </a>
        <a class="link-footer" href="https://twitter.com/ATProductsLLC" aria-label="Twitter">
          <i class="bi fs-4 bi-twitter-x"></i>
        </a>
        <a class="link-footer" href="https://youtube.com/c/AlexToucanAT" aria-label="YouTube">
          <i class="bi fs-4 bi-youtube"></i>
        </a>
        <a class="link-footer" href="/form/" aria-label="Contact Form / Email">
          <i class="bi fs-4 bi-envelope-fill"></i>
        </a>
        <a class="link-footer" href="https://twitter.com/ATPWeather" aria-label="Weather">
          <i class="bi fs-4 bi-cloud-sun-fill"></i>
        </a>
      </div>
      
    </div>
  </div>
</header>